<hr>
<table align="center" border="0" cellspacing="0" cellpadding="0">
	<tr><td></td><td></td><td></td></tr>
	<tr>
		<td>
			<p><strong>ЧП&nbsp;"Ромгиль-Текс"</strong><br>
				231800,&nbsp;Республика Беларусь, <br>
				г.&nbsp;Слоним, ул.&nbsp;Космонавтов,&nbsp;55<br>
				<a href="mailto:sales@romgil.com">sales@romgil.com</a><br>
				<a href="https://romgil.com" target="_blank">https://romgil.com</a>
			</p>
		</td>
		<td style="text-align: center;">
			<p><img src="./images/romgil-logo.png" width="102"></p>
		</td>
		<td>
			<p style="text-align: left;">
				Елена Карсакова<br><a href="tel:+79296578748">+7&nbsp;929&nbsp;657&nbsp;87&nbsp;48</a><br><br>
				Марина Берадзе<br><a href="tel:+79096812491">+7&nbsp;909&nbsp;681&nbsp;24&nbsp;91</a>
			</p>
		</td>
	</tr>
</table>
