<hr>
<table align="center" border="0" cellspacing="0" cellpadding="0">
	<tr><td></td><td></td><td></td></tr>
	<tr>
		<td>
			<p><strong>ЧП&nbsp;"Ромгиль-Текс"</strong><br>
				231800,&nbsp;Республика Беларусь, <br>
				г.&nbsp;Слоним, ул.&nbsp;Космонавтов,&nbsp;55<br>
				<a href="mailto:sales@romgil.com">sales@romgil.com</a><br>
				<a href="https://romgil.com">https://romgil.com</a>
			</p>
		</td>
		<td style="text-align: center;">
			<p><img src="./images/romgil-logo.png" width="102"></p>
		</td>
		<td>
			<p style="text-align: left;">
            <a href="tel:+375447979212">+375 44 79 79 212</a> продажи<br>
            <a href="tel:+375447787469">+375 44 778 74 69</a> продажи<br>
            <a href="tel:+375445464966">+375 44 546 49 66</a> продажи<br>
            <a href="tel:+375156266521">+375 1562 6 65 21</a> офис<br>
            <a href="tel:+375156265673">+375 1562 6 56 73</a>  факс
			</p>
		</td>
	</tr>
</table>