<div style="width: 600px; height: 400px; overflow: hidden">
    <div rel="title">
        Ромгиль-Текс | Контакты
    </div>
    <div rel="body">

		<div class="container">
		  <div class="row">
				<p style="text-align: center;"><br><img src="./images/romgil-logo.png" alt="Ромгиль-Текс" width="172" title="Ромгиль-Текс"></p>
				<h6><strong>ЧП&nbsp;"Ромгиль-Текс"</strong></h6>
			    <div class="col contacts-adress">
						 <p>
				       Республика Беларусь, <br>
				       г.&nbsp;Слоним, ул.&nbsp;Космонавтов,&nbsp;55<br>
						<a href="mailto:sales@romgil.com">sales@romgil.com</a><br>
						<a href="https://romgil.com" target="_blank">https://romgil.com</a>
				       </p>
			    </div>
		        <div class="col contacts-phones">
			        	<p>
			            <a href="tel:+375447979212">+375 44 79 79 212</a> продажи<br>
			            <a href="tel:+375447787469">+375 44 778 74 69</a> продажи<br>
			            <a href="tel:+375445464966">+375 44 546 49 66</a> продажи<br>
			            <a href="tel:+375156266521">+375 1562 6 65 21</a> офис<br>
			            <a href="tel:+375156265673">+375 1562 6 56 73</a>  факс
			        	</p>
		    	</div>
		  </div>
		</div>


    </div>
    <div rel="buttons">
        <button type="button" class="btn btn-primary btn-sm" onclick="w2popup.close()">Закрыть</button>
    </div>
</div>
